<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>


<p>
Страница находится на app/views/static_pages/home.html.erb
</p>

<p>
Владимиру Кулишову инкриминируют финансирование и поддержку терроризма на украинской территории. Об этом заявил глава Службы безопасности Украины Валентин Наливайченко.

Ранее стало известно, что по аналогичным статьям открыто уголовное производство против гендиректора агентства «Россия сегодня» Дмитрия Киселёва. Сам Киселёв считает эти обвинения «продолжением фантазий киевских властей».

</p>

<p>
Перейти к странице <%= link_to "Help", static_pages_help_path %>
</p>

<p>
Перейти к странице <%= link_to "About", static_pages_about_path %>
</p>

<p>
Перейти к странице <%= link_to "Contact", static_pages_contact_path %>
</p>









